@font-face {
  font-family: "Jua";
  src: url(Jua-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(180deg, rgb(163 238 255) 0%, white 19%);
  background-color: rgb(0, 213, 255);
}

.landing-page-container {
  display: flex;
  flex-direction: column;
}

.logo {
  align-self: center;
  padding: 5px 10px 0 10px;
  max-width: 700px;
}

.logo img {
  width: 100%;
  margin-bottom: -7px;
}

.nav-bar {
  display: flex;
  height: 65px;
  background-color: rgb(120, 37, 2);
  position: relative;
}

#side-nav-bar {
  display: none;
  flex-direction: column;
  height: fit-content;
  position: absolute;
  top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
}

.side-content {
  font-family: Jua;
  font-size: larger;
  padding: 10px;
  width: 100%;
}

.hamburger {
  height: 50%;
  justify-self: center;
  align-self: center;
  padding-left: 10px;
  display: none;
}

.hamburger img {
  height: 100%;
}

.base-frame {
  font-family: "Jua";
  flex-grow: 1;
  font-size: larger;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  min-width: 140px;
}

.base-frame:hover {
  height: 60px;
}

.red-frame, #about-side-content {
  background-color: rgb(253 159 159);
}

.yellow-frame, #gallery-side-content {
  background-color: #ffd991;
}

.green-frame, #daily-side-content {
  background-color: #ccffcc;
}

.blue-frame, #home-side-content {
  background-color: rgb(192 248 255);
}

.purple-frame, #menu-side-content {
  background-color: rgb(216 174 255);
}

.violet-frame, #contact-side-content {
  background-color: rgb(255 217 255);
}

#filter {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: black;
  filter: opacity(50%);
}

.phone-number {
  align-self: center;
  text-align: right;
  padding-right: 32px;
  font-size: 24px;
  color: black;
  font-family: 'Jua', sans-serif;
}

.page-seperator {
  background-color: rgb(120, 37, 2);
  height: 15px;
}

/* #banner {
  margin-top: 10px;
  width: 100%;
  height: 400px;
}

#banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
} */

.middle-content {
  background-color: rgb(192 248 255);
  min-height: 80vh;
}

.middle-content-sub-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #bee1e1;
  margin: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text-box {
  background-color: rgb(219, 219, 219);
  height: 200px;
  width: 300px;
  padding: 10px;
  margin: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  font-family: 'Jua', sans-serif;
}

.page-text-box {
  font-family: 'Jua', sans-serif;
  height: auto;
  width: 80%;
  align-self: center;
}

.cute-image {
  padding: 10px;
  margin: 50px;
  align-self: center;
}

.cute-image img {
  width: 200px;
}

.bottom-content {
  background-color: rgb(0, 33, 43);
  display: flex;
  justify-content: space-between;
  min-height: 300px;
  height: 100%;
}

.icon {
  font-size: large;
  float: left;
  width: 30px;
  margin-right: 10px;
  padding: 0px 5px 0px 5px;
}

.icon-img {
  width: 100%;
  vertical-align: middle;
}

.envelope {
  padding: 0px;
}

.footer-title {
  margin-bottom: 18px;
  font-size: large;
}

.footer-contact-info {
  margin-bottom: 12px;
}

.footer-text {
  display: inline-block;
  line-height: 25px;
}

.footer-item {
  color: white;
  justify-self: left;
  font-family: sans-serif;
  padding-top: 48px;
}

.daycare-schedule, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  
}

.daycare-schedule {
  align-self: center;
  justify-self: center;
  margin-bottom: 5px;
  width: 100%;
}

.calendar {
  justify-self: center;
  align-self: center;
  align-items: center;
}

.calendar img {
  width: 100%;
}

.daycare-schedule th {
  background-color: #71eb71;
}

.daycare-schedule tr:nth-child(even) {
  background-color: #ccffcc;
}

.daycare-schedule tr:nth-child(odd) {
  background-color: white;
}

.daycare-schedule-container {
  background-color: #43b761;
  font-family: Jua;
}

.asterisk {
  color: red;
}

#about-container {
  background-color: #ffd3d3;
}

#about-background {
  background-color: rgb(253 159 159);
  display: none;
}

.about-text-box {
  margin: 72px;
}

.about-text {
  font-family: 'Jua', sans-serif;
  height: auto;
  align-self: center;
  font-size: x-large;
  margin-bottom: 48px;
}

#gallery-background {
  background-color: #ffd991;
  display: none;
}

#schedule-background {
  background-color: #ccffcc;
  display: none;
}

#schedule-container {
  background-color: #43b761;
}

#menu-container {
  background-color: #aed9ff;
}

#menu-background {
  background-color: rgb(216 174 255);
  display: none;
}

#contact-background {
  background-color: rgb(255 217 255);
  display: none;
}

#contact-container {
  background-color: rgb(255 169 255);
}

#contact-text-box {
  font-family: Jua;
  font-size:x-large;
  background-color: rgb(255 169 255);
  margin: 72px;
}

#contact-text-box div {
  margin-bottom: 10px;
}

.contact-text-box-text {
  display: inline-block;
}

@media screen and (max-width: 800px) {

  .nav-bar {
    height: 50px;
  }

  .hamburger {
    display: block;
  }

  .middle-content-sub-container {
    margin: 20px;
  }

  .base-frame {
    display: none;
  }

  .about-text-box {
    margin: 20px;
  }

  .bottom-content {
    flex-direction: column;
    align-items: center;
  }

  #contact-text-box {
    font-size: larger;
    margin: 20px;
  }
}

/* Slideshow Styling */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}