@font-face {
  font-family: "Jua";
  src: url(Jua-Regular.ttf);
}

@font-face {
  font-family: "luck";
  src: url(luck.ttf);
}

h1 {
  font-family: luck;
  font-size: xx-large;
  letter-spacing: 1.5px;
}

h2 {
  font-family: Jua;
}

.cta-container {
  background-color: rgb(255 169 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 32px;
  padding: 32px;
}

.above-fold-cta {
  text-align: center;
  font-size: x-large;
  margin-bottom: 32px
}

#home-container h1 {
  text-align: center;
  padding-bottom: 32px
}


* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(180deg, rgb(163 238 255) 0%, white 19%);
  background-color: rgb(0, 213, 255);
}

.landing-page-container {
  display: flex;
  flex-direction: column;
}

.logo {
  align-self: center;
  padding: 5px 10px 0 10px;
  max-width: 700px;
}

.logo img {
  width: 100%;
  margin-bottom: -7px;
}

.nav-bar {
  display: flex;
  height: 65px;
  background-color: rgb(120, 37, 2);
  position: relative;
}

#side-nav-bar {
  display: none;
  flex-direction: column;
  height: fit-content;
  position: absolute;
  top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
}

.side-content {
  font-family: Jua;
  font-size: larger;
  padding: 10px;
  width: 100%;
}

.hamburger {
  height: 50%;
  justify-self: center;
  align-self: center;
  padding-left: 10px;
  display: none;
}

.hamburger img {
  height: 100%;
}

.base-frame {
  font-family: "Jua";
  flex-grow: 1;
  font-size: larger;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  min-width: 140px;
}

.base-frame:hover {
  height: 60px;
}

.red-frame, #about-side-content {
  background-color: rgb(253 159 159);
}

.yellow-frame, #gallery-side-content {
  background-color: #ffd991;
}

.green-frame, #daily-side-content {
  background-color: #ccffcc;
}

.blue-frame, #home-side-content {
  background-color: rgb(192 248 255);
}

.purple-frame, #menu-side-content {
  background-color: rgb(216 174 255);
}

.violet-frame, #contact-side-content {
  background-color: rgb(255 217 255);
}

.indigo-frame, #pricing-side-content {
  background-color: rgb(219, 217, 255);
}

#indigo-frame-short {
  display: none;
}

#filter {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: black;
  filter: opacity(50%);
}

.phone-number {
  align-self: center;
  text-align: right;
  padding-right: 32px;
  font-size: 24px;
  color: black;
  font-family: 'Jua', sans-serif;
}

.page-seperator {
  background-color: rgb(120, 37, 2);
  height: 15px;
}

.middle-content {
  background-color: rgb(192 248 255);
  min-height: 80vh;
}

.middle-content-sub-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #bee1e1;
  margin: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text-box {
  background-color: rgb(219, 219, 219);
  max-width: 500px;
  padding: 10px;
  margin: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  font-family: 'Jua', sans-serif;
  min-height: 250px;
}

.text-box h1 {
  font-family: luck;
  text-align: center;
  font-size: xx-large;
}

.text-box div {
  padding-bottom: 32px;
  font-size: x-large;
  padding-left: 24px;
  padding-right: 24px;
}

.box1 {
  background-color: rgb(216 174 255)
}

.box2 {
  background-color: rgb(204 255 204)
}

.box3 {
  background-color: #ffd991;
}

.page-text-box {
  font-family: 'Jua', sans-serif;
  height: auto;
  width: 80%;
  align-self: center;
}

.cute-image {
  padding: 10px;
  margin: 50px;
  align-self: center;
}

.cute-image img {
  width: 300px;
}

.bottom-content {
  background-color: rgb(0, 33, 43);
  display: flex;
  justify-content: space-between;
  min-height: 300px;
  height: 100%;
}

.icon {
  font-size: large;
  float: left;
  width: 30px;
  margin-right: 10px;
  padding: 0px 5px 0px 5px;
}

.icon-img {
  width: 100%;
  vertical-align: middle;
}

.envelope {
  padding: 0px;
}

.footer-title {
  margin-bottom: 18px;
  font-size: large;
}

.footer-contact-info {
  margin-bottom: 12px;
}

.footer-text {
  display: inline-block;
  line-height: 25px;
}

.footer-text a {
  color: red;
}

.footer-item {
  color: white;
  justify-self: left;
  font-family: sans-serif;
  padding-top: 48px;
}

.daycare-schedule, td, th {
  border-collapse: collapse;
  padding: 16px;
  
}

.daycare-schedule {
  align-self: center;
  justify-self: center;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 16px;
  max-width: 1000px;
  font-size: xx-large;
  border-style: solid;
  border-color: #959595;
}

.schedule-title-border {
  background-color: #bf974b;
}

.schedule-title-border > div {
  background-color: #f9c954;
  
}

.schedule-footer {
  margin: 32px;
}

.calendar {
  justify-self: center;
  align-self: center;
  align-items: center;
}

.calendar img {
  width: 100%;
}

.daycare-schedule th {
  background-color: white;
}

.daycare-schedule tr:nth-child(even) {
  background-color: #ccffcc;
}

.daycare-schedule tr:nth-child(odd) {
  background-color: white;
}

.daycare-schedule-container {
  font-family: Jua;
  background-color: #ffebc6;
}

.asterisk {
  color: red;
}

#about-container {
  background-color: #ffd3d3;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about-content > div:nth-child(1) {
  max-width: 1000px;
}


.about-content > div:nth-child(2) img {
  width: 400px;
}

#home-container {
  background-color: #ffffff00;
  box-shadow: none;
}

#about-background {
  background-color: rgb(253 159 159);
  display: none;
}

.about-text-box {
  margin: 72px;
  width: 90%;
}

#home-container > div:nth-child(1) {
  background-color: #ccffcc;
}

#home-container > div:nth-child(2) {
  background-color: #ffd991;
}

#home-container > div:nth-child(3) {
  background-color: #d8aeff;
}

.about-text {
  font-family: 'Jua', sans-serif;
  height: auto;
  align-self: center;
  font-size: x-large;
  margin-bottom: 48px;
}

#gallery-background {
  background-color: #ffd991;
  display: none;
}

#schedule-background {
  background-color: #ccffcc;
  display: none;
}

#menu-container {
  background-color: #aed9ff;
}

#menu-background {
  background-color: rgb(216 174 255);
  display: none;
}

.food-menu {
  border: 2px;
  border-style: solid;
  border-color: black;
  padding: 24px;
  margin: 0 auto;
  margin-bottom: 24px;
  margin-top: 24px;
  background-color: wheat;
  font-size: x-large;
}

.food-menu th {
  text-align: center;
  border-bottom-style: solid;
  border-width: 2px;
  font-family: luck;
  letter-spacing: 1.5px;
}

.food-menu td {
  font-family: Jua;
}

.food-note {
  text-align: center;
  font-family: Jua;
  margin-bottom: 24px;
}

.food-title {
  font-family: luck;
  letter-spacing: 1.5px;
  font-size: xx-large;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 36px;
}

#pricing-background {
  background-color: rgb(219, 217, 255);
  display: none;
}

#contact-background {
  background-color: rgb(255 217 255);
  display: none;
}

#pricing-container {
  background-color: rgb(219, 217, 255);
}

#pricing-text-box {
  font-family: Jua;
  font-size:x-large;
  /* background-color: rgb(255 169 255); */
  margin: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#contact-container {
  background-color: rgb(255 169 255);
}

#contact-text-box {
  font-family: Jua;
  font-size:x-large;
  background-color: rgb(255 169 255);
  margin: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#contact-text-box div {
  margin-bottom: 10px;
}

.contact-text-box-text {
  display: inline-block;
}

.contact-picture {
  margin-top: 16px;
}

.contact-picture img {
  width: 100%
}

.title {
  font-family: "luck";
  margin-top: 32px;
  margin-bottom: 48px;
  font-size: xxx-large;
  text-align: center;
}

@media screen and (max-width: 1181px) and (min-width: 1077px) {

  .indigo-frame {
    display: none;
  }

  #indigo-frame-short {
    display: block;
  }
}

@media screen and (max-width: 1077px) {

  .nav-bar {
    height: 50px;
  }

  .hamburger {
    display: block;
  }

  .middle-content-sub-container {
    margin: 20px;
  }

  .base-frame {
    display: none;
  }

  .about-text-box {
    margin: 20px;
  }
}

@media screen and (max-width: 800px) {

  .nav-bar {
    height: 50px;
  }

  .hamburger {
    display: block;
  }

  .middle-content-sub-container {
    margin: 20px;
  }

  .base-frame {
    display: none;
  }

  .about-text-box {
    margin: 20px;
  }

  .bottom-content {
    flex-direction: column;
    align-items: center;
  }

  #contact-text-box {
    font-size: larger;
    margin: 20px;
  }
}

@media screen and (max-width: 460px) {
  .middle-content-sub-container {
    margin: 0px;
  }
}

/* Slideshow Styling */
/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  /* margin: auto; */
  margin-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(120, 37, 2);
}

/* Hide the images by default */
.my-slides {
  display: none;
}

.my-slides img {
  max-height: 400px;
  object-fit: cover;
  background-color: black;
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {filter: brightness(0%)}
  to {filter: brightness(100%)}
}

@media screen and (min-width: 1077px) {
.gallery {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
  }

  .gallery img {
    margin: 12px;
  }

}

@media screen and (max-width: 1077px) {
  .gallery {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }
}

.gallery-image {
  width: 100%;
}

.gallery-image img {
  width: 100%;
}
