@font-face {
  font-family: "Jua";
  src: url(Jua-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  /* background: linear-gradient(180deg, rgb(0, 209, 255) 0%, rgb(255, 218, 0) 50%); */
  background-color: rgb(0, 213, 255);
}

.landing-page-container {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  margin: 10px;
}

.logo img {
  width: 150px;
}

.base-frame {
  font-family: "Jua";
  color: white;
  text-decoration: none;
  flex-grow: 1;
  font-size: larger;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  width: 60px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.base-frame:hover {
  height: 60px;
}

@media screen and (max-width: 590px) {
.base-frame:hover {
  filter: brightness(80%);
  height: auto;
}
}

.red-frame {
  background-color: #e33939;
}

.yellow-frame {
  background-color: #ffa700;
}

.green-frame {
    background-color: green;
}

.blue-frame {
  background-color: #2620db;
}

.violet-frame {
  background-color: violet;
}

.phone-number {
  align-self: center;
  text-align: right;
  padding-right: 32px;
  font-size: 24px;
  color: black;
  font-family: 'Jua', sans-serif;
}

.page-seperator {
  background-color: rgb(120, 37, 2);
  height: 15px;
}

.middle-content {
  background-color: rgb(156, 195, 200);
  min-height: 100vh;
}

.middle-content-sub-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #bee1e1;
  margin: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text-box {
  background-color: rgb(219, 219, 219);
  height: 200px;
  width: 300px;
  padding: 10px;
  margin: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  font-family: 'Jua', sans-serif;
}

.page-text-box {
  font-family: 'Jua', sans-serif;
  height: auto;
  width: 80%;
  align-self: center;
}

.cute-image {
  padding: 10px;
  margin: 50px;
  align-self: center;
}

.cute-image img {
  width: 200px;
}

.bottom-content {
  background-color: rgb(0, 33, 43);
  display: flex;
  justify-content: space-between;
  min-height: 200px;
  height: 100%;
}

.footer-text {
  color: white;
  justify-self: left;
  align-self: center;
}

.daycare-schedule, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  
}

.daycare-schedule {
  align-self: center;
  justify-self: center;
  margin-bottom: 5px;
  width: 100%;
}

.calendar {
  align-self: center;
}
